about-time==4.2.1
absl-py==2.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.8.5
aiosignal==1.3.1
alembic==1.14.1
alive-progress==3.1.5
annotated-types==0.7.0
anyio==4.5.2
apturl==0.5.2
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
async-timeout==4.0.3
attrs==19.3.0
autograd==1.7.0
Automat==0.8.0
backoff==2.2.1
bcrypt==4.2.1
beautifulsoup4==4.12.3
blinker==1.4
botorch==0.8.5
Brlapi==0.7.0
build==1.2.2.post1
cachetools==5.5.0
catboost==1.2.8
certifi==2019.11.28
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.4.2
chroma-hnswlib==0.7.6
chromadb==0.5.23
clang==17.0.6
click==8.1.7
cloud-init==23.2.2
cloudpickle==3.1.1
cma==3.2.2
cmaes==0.12.0
cmake==3.25.0
cocotb==1.8.1
cocotb-bus==0.2.1
cocotbext-axi==0.1.24
colorama==0.4.3
coloredlogs==15.0.1
colorlog==6.9.0
command-not-found==0.3
configobj==5.0.6
ConfigSpace==0.7.1
constantly==15.1.0
contourpy==1.1.1
cryptography==2.8
cupshelpers==1.0
cycler==0.12.1
Cython==3.1.2
dask==2023.5.0
dataclasses-json==0.6.7
dbus-python==1.2.16
decorator==5.2.1
defer==1.0.6
Deprecated==1.2.15
dgl==2.1.0
dill==0.3.9
distributed==2023.5.0
distro==1.9.0
distro-info==0.23+ubuntu1.1
dm-tree==0.1.8
duplicity==0.8.12.0
durationpy==0.9
emcee==3.1.4
entrypoints==0.3
etils==1.3.0
exceptiongroup==1.2.2
faiss-cpu==1.8.0.post1
Farama-Notifications==0.0.4
fastapi==0.115.6
fasteners==0.14.1
filelock==3.16.1
find_libpython==0.4.0
flatbuffers==24.3.25
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2024.10.0
future==0.18.2
gdown==5.2.0
git-filter-repo==2.47.0
google-auth==2.36.0
googleapis-common-protos==1.66.0
GPy==1.10.0
gpytorch==1.10
grapheme==0.6.0
graphlib_backport==1.1.0
graphviz==0.20.1
greenlet==3.1.1
grpcio==1.68.1
gymnasium==0.28.1
h11==0.14.0
h5py==3.9.0
HEBO==0.3.5
hnswlib @ file:///home/zqy/RAG/deep_hnswlib/hnswlib
httpcore==1.0.7
httplib2==0.14.0
httptools==0.6.4
httpx==0.28.0
huggingface-hub==0.26.3
humanfriendly==10.0
hyperlink==19.0.0
idna==2.8
imageio==2.35.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
incremental==16.10.1
isodate==0.7.2
jax==0.2.24
jax-jumpy==1.0.0
Jinja2==3.1.6
jiter==0.8.2
joblib==1.2.0
jsonpatch==1.33
jsonpath-rw==1.4.0
jsonpointer==2.0
jsonschema==3.2.0
keyring==18.0.1
kiwisolver==1.4.7
klepto==0.2.6
kubernetes==31.0.0
langchain==0.1.9
langchain-community==0.0.38
langchain-core==0.1.53
langsmith==0.1.147
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy_loader==0.4
liac-arff==2.5.0
-e git+https://github.com/NuoJohnChen/C2HLS.git@c6f74059fadb49953f3b7a4baa9a75d0735787d6#egg=lib_functions&subdirectory=lib_functions
libvirt-python==6.1.0
lightgbm==4.6.0
linear-operator==0.4.0
lit==15.0.7
# Editable install with no version control (llm-api==0.1)
-e /home/zqy/LLM4CHIP/LLM_Trans_HLS/codes/llm_api
llvmlite==0.39.1
locket==1.0.0
lockfile==0.12.2
louis==3.12.0
lz4==4.3.3
macaroonbakery==1.3.1
Mako==1.1.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.22.0
matplotlib==3.7.5
mdurl==0.1.2
minio==7.2.10
mlcroissant==1.0.0
mmh3==5.0.1
monotonic==1.5
more-itertools==4.2.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multipledispatch==1.0.0
mypy_extensions==1.1.0
narwhals==1.42.1
nashpobench2api==1.0.0
netifaces==0.10.4
networkx==3.1
numpy==1.23.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
olefile==0.46
onnxruntime==1.19.2
openai==0.28.0
openml==0.14.2
opentelemetry-api==1.28.2
opentelemetry-exporter-otlp-proto-common==1.28.2
opentelemetry-exporter-otlp-proto-grpc==1.28.2
opentelemetry-instrumentation==0.49b2
opentelemetry-instrumentation-asgi==0.49b2
opentelemetry-instrumentation-fastapi==0.49b2
opentelemetry-proto==1.28.2
opentelemetry-sdk==1.28.2
opentelemetry-semantic-conventions==0.49b2
opentelemetry-util-http==0.49b2
opt_einsum==3.4.0
optuna==3.2.0
orjson==3.10.12
overrides==7.7.0
packaging==23.2
pandas==1.3.5
pandas-stubs==2.0.3.230814
paramiko==2.6.0
paramz==0.9.6
partd==1.4.1
parzen-estimator==0.5.8
pexpect==4.6.0
pickle5==0.0.11
pillow==10.4.0
plotly==6.2.0
ply==3.11
posthog==3.7.4
pox==0.3.5
programl==0.3.2
propcache==0.2.0
protobuf==5.29.1
psutil==5.9.5
pyaml==25.7.0
pyarrow==12.0.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycparser==2.22
pycryptodome==3.23.0
pycups==1.9.73
pydantic==2.10.3
pydantic_core==2.27.1
pyDOE==0.3.8
Pygments==2.18.0
PyGObject==3.36.0
PyHamcrest==1.9.0
PyJWT==1.7.1
pymacaroons==0.13.0
pymoo==0.6.1.2
PyNaCl==1.3.0
pynisher==0.6.4
pyOpenSSL==19.0.0
pyparsing==3.1.4
pypdf==5.1.0
PyPika==0.48.9
pyproject_hooks==1.2.0
pyRFC3339==1.1
pyrfr==0.9.0
pyro-api==0.1.2
pyro-ppl==1.9.1
pyrsistent==0.15.5
pyserial==3.4
python-apt==2.0.1+ubuntu0.20.4.1
python-dateutil==2.9.0.post0
python-debian==0.1.36+ubuntu1.1
python-dotenv==1.0.1
python-patch==0.0.1
pytorch-triton-rocm==2.0.1
pytorch-warmup==0.2.0
pytz==2024.2
PyWavelets==1.4.1
pyxdg==0.26
PyYAML==6.0.2
ray==2.10.0
rdflib==7.1.4
redis==5.2.1
regex==2024.11.6
reportlab==3.5.34
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
requests-unixsocket==0.2.0
rich==13.9.4
rsa==4.9
safetensors==0.5.3
scikit-image==0.21.0
scikit-learn==1.0.2
scikit-optimize==0.9.0
scipy==1.10.1
seaborn==0.13.2
SecretStorage==2.3.1
sentence-transformers==3.2.1
service-identity==18.1.0
shellingham==1.5.4
simplejson==3.16.0
six==1.14.0
smac==1.4.0
sniffio==1.3.1
sortedcontainers==2.4.0
sos==4.5.6
soupsieve==2.6
spallvm @ file:///home/zqy/LLM4CHIP/SPA
SQLAlchemy==2.0.41
ssh-import-id==5.10
starlette==0.41.3
sympy==1.13.3
systemd-python==234
tblib==3.0.0
tenacity==8.5.0
tensorboardX==2.6.2.2
threadpoolctl==3.1.0
tifffile==2023.7.10
tiktoken==0.6.0
tokenizers==0.20.3
tomli==2.2.1
toolz==1.0.0
torch==2.0.1
torch-cluster==1.6.1
torch-scatter==2.1.1
torch-sparse==0.6.17
torch-spline-conv==1.2.2
torch_geometric==2.3.1
torchaudio==2.0.1+rocm5.4.2
torchdata==0.8.0
torchvision==0.15.1+rocm5.4.2
tornado==6.4.2
tqdm==4.67.1
transformers==4.46.3
triton==2.0.0
Twisted==18.9.0
typer==0.15.1
types-pytz==2024.2.0.20241221
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
uncertainty-toolbox==0.1.1
urllib3==1.25.8
usb-creator==0.3.7
uvicorn==0.32.1
uvloop==0.21.0
wadllib==1.3.3
watchfiles==0.24.0
websocket-client==1.8.0
websockets==13.1
wget==3.2
wrapt==1.17.0
xgboost==2.1.4
xkit==0.0.0
xmltodict==0.14.2
yarl==1.15.2
zict==3.0.0
zipp==3.20.2
zope.interface==4.7.1
